<div class="container">

    <!-- TODO Ici une liste déroulante des adresses dispo en fonction du user -->
    <!-- <select class="form-select" aria-label="Default select example" >
        <option selected>Open this select menu</option>
        <option *ngFor="let customer of customers" value="1">{{customer.name}} {{customer.firstName}} -  {{customer.address}} -  {{customer.phone}}</option> 
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select> -->

      <!-- *ngIf="!isCustomer" -->
    <div class="col-md-3"                  >
        <form #f="ngForm" (ngSubmit)="onSaveCustomer(f.value)">
        <div class="form-group">
            <label class="control-label">Nom : </label>
            <input type="text" name="name" required class="form-control" [(ngModel)]="cartService.getCustomer().name">
        </div>
        <div class="form-group">
            <label class="control-label">Prénom : </label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="cartService.getCustomer().firstName">
        </div>
    
        <div class="form-group">
            <label class="control-label">Adresse : </label>
            <input type="text" name="address" class="form-control" [(ngModel)]="cartService.getCustomer().address">
    
            <div class="form-group">
            <label class="control-label">Tel :</label>
            <input type="text" name="phone" class="form-control" [(ngModel)]="cartService.getCustomer().phone">
            </div>
            
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Next</button>
        </div>
        </form>
    </div>
</div>